# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/MultiMediaLearn.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
app/.externalNativeBuild/
app/build/
build/
gradle/
gradlew
local.properties
.idea/libraries/animated_vector_drawable_27_0_2.xml
.idea/libraries/appcompat_v7_27_0_2.xml
.idea/libraries/common_1_0_0.xml
.idea/libraries/common_1_0_3.xml
.idea/libraries/design_27_0_2.xml
.idea/libraries/hamcrest_core_1_3.xml
.idea/libraries/junit_4_12.xml
.idea/libraries/reactive_streams_1_0_2.xml
.idea/libraries/recyclerview_v7_27_0_2.xml
.idea/libraries/runtime_1_0_3.xml
.idea/libraries/rxandroid_2_0_1.xml
.idea/libraries/rxjava_2_1_8.xml
.idea/libraries/rxpermissions_0_9_4.xml
.idea/libraries/support_annotations_27_0_2.xml
.idea/libraries/support_compat_27_0_2.xml
.idea/libraries/support_core_ui_27_0_2.xml
.idea/libraries/support_core_utils_27_0_2.xml
.idea/libraries/support_fragment_27_0_2.xml
.idea/libraries/support_media_compat_27_0_2.xml
.idea/libraries/support_v4_27_0_2.xml
.idea/libraries/support_vector_drawable_27_0_2.xml
.idea/libraries/transition_27_0_2.xml

library/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/CMakeTmp/
library/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/MagicBeautify.dir/
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/CMakeTmp/
library/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/MagicBeautify.dir/
library/.externalNativeBuild/cmake/debug/armeabi/CMakeFiles/CMakeTmp/
library/.externalNativeBuild/cmake/debug/armeabi/CMakeFiles/MagicBeautify.dir/
library/.externalNativeBuild/cmake/debug/mips/CMakeFiles/CMakeTmp/
library/.externalNativeBuild/cmake/debug/mips/CMakeFiles/MagicBeautify.dir/
library/.externalNativeBuild/cmake/debug/mips64/CMakeFiles/CMakeTmp/
library/.externalNativeBuild/cmake/debug/mips64/CMakeFiles/MagicBeautify.dir/
library/.externalNativeBuild/cmake/debug/x86/CMakeFiles/CMakeTmp/
library/.externalNativeBuild/cmake/debug/x86/CMakeFiles/MagicBeautify.dir/
library/.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/CMakeTmp/
library/.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/MagicBeautify.dir/
library/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/
library/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/MagicBeautify.dir/
library/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/CMakeTmp/
library/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/MagicBeautify.dir/
library/.externalNativeBuild/cmake/release/armeabi/CMakeFiles/CMakeTmp/
library/.externalNativeBuild/cmake/release/armeabi/CMakeFiles/MagicBeautify.dir/
library/.externalNativeBuild/cmake/release/mips/CMakeFiles/CMakeTmp/
library/.externalNativeBuild/cmake/release/mips/CMakeFiles/MagicBeautify.dir/
library/.externalNativeBuild/cmake/release/mips64/CMakeFiles/CMakeTmp/
library/.externalNativeBuild/cmake/release/mips64/CMakeFiles/MagicBeautify.dir/
library/.externalNativeBuild/cmake/release/x86/CMakeFiles/CMakeTmp/
library/.externalNativeBuild/cmake/release/x86/CMakeFiles/MagicBeautify.dir/
library/.externalNativeBuild/cmake/release/x86_64/CMakeFiles/CMakeTmp/
library/.externalNativeBuild/cmake/release/x86_64/CMakeFiles/MagicBeautify.dir/
.idea/libraries/animated_vector_drawable_23_4_0.xml
.idea/libraries/appcompat_v7_23_4_0.xml
.idea/libraries/constraint_layout_1_1_0.xml
.idea/libraries/constraint_layout_solver_1_1_0.xml
.idea/libraries/support_annotations_23_4_0.xml
.idea/libraries/support_v4_23_4_0.xml
.idea/libraries/support_vector_drawable_23_4_0.xml

library/.externalNativeBuild/cmake/debug/arm64-v8a/.ninja_deps
library/.externalNativeBuild/cmake/debug/arm64-v8a/.ninja_log
library/.externalNativeBuild/cmake/debug/armeabi-v7a/.ninja_deps
library/.externalNativeBuild/cmake/debug/armeabi-v7a/.ninja_log
library/.externalNativeBuild/cmake/debug/armeabi/.ninja_deps
library/.externalNativeBuild/cmake/debug/armeabi/.ninja_log
library/.externalNativeBuild/cmake/debug/mips/.ninja_deps
library/.externalNativeBuild/cmake/debug/mips/.ninja_log
library/.externalNativeBuild/cmake/debug/mips64/.ninja_deps
library/.externalNativeBuild/cmake/debug/mips64/.ninja_log
library/.externalNativeBuild/cmake/debug/x86/.ninja_deps
library/.externalNativeBuild/cmake/debug/x86/.ninja_log
library/.externalNativeBuild/cmake/debug/x86_64/.ninja_deps
library/.externalNativeBuild/cmake/debug/x86_64/.ninja_log
.externalNativeBuild/cmake/debug/armeabi/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/x86/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/x86/CMakeFiles/wlplayer.dir/
.externalNativeBuild/cmake/release/armeabi/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/armeabi/CMakeFiles/wlplayer.dir/
.externalNativeBuild/cmake/release/x86/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/x86/CMakeFiles/wlplayer.dir/
.idea/libraries/1_common_1_0_0.xml
.idea/libraries/adapter_rxjava2_2_3_0.xml
.idea/libraries/animated_vector_drawable_26_1_0.xml
.idea/libraries/annotations_4_0_0_RC1.xml
.idea/libraries/appcompat_v7_26_1_0.xml
.idea/libraries/butterknife_8_8_1.xml
.idea/libraries/butterknife_annotations_8_8_1.xml
.idea/libraries/converter_gson_2_3_0.xml
.idea/libraries/disklrucache_4_0_0_RC1.xml
.idea/libraries/gifdecoder_4_0_0_RC1.xml
.idea/libraries/glide_4_0_0_RC1.xml
.idea/libraries/gson_2_7.xml
.idea/libraries/logging_interceptor_3_8_1.xml
.idea/libraries/okhttp_3_8_1.xml
.idea/libraries/okio_1_13_0.xml
.idea/libraries/reactive_streams_1_0_0.xml
.idea/libraries/recyclerview_v7_26_0_0_alpha1.xml
.idea/libraries/retrofit_2_3_0.xml
.idea/libraries/runtime_1_0_0.xml
.idea/libraries/rxjava_2_1_1.xml
.idea/libraries/support_annotations_26_1_0.xml
.idea/libraries/support_compat_26_1_0.xml
.idea/libraries/support_core_ui_26_1_0.xml
.idea/libraries/support_core_utils_26_1_0.xml
.idea/libraries/support_fragment_26_1_0.xml
.idea/libraries/support_media_compat_26_1_0.xml
.idea/libraries/support_v4_26_1_0.xml
.idea/libraries/support_vector_drawable_26_1_0.xml
glestest/.externalNativeBuild/
libwlplayer/.externalNativeBuild/cmake/debug/armeabi/CMakeFiles/CMakeTmp/
libwlplayer/.externalNativeBuild/cmake/debug/x86/CMakeFiles/CMakeTmp/
libwlplayer/.externalNativeBuild/cmake/debug/x86/CMakeFiles/wlplayer.dir/
libwlplayer/.externalNativeBuild/cmake/release/armeabi/CMakeFiles/CMakeTmp/
libwlplayer/.externalNativeBuild/cmake/release/armeabi/CMakeFiles/wlplayer.dir/
libwlplayer/.externalNativeBuild/cmake/release/x86/CMakeFiles/CMakeTmp/
libwlplayer/.externalNativeBuild/cmake/release/x86/CMakeFiles/wlplayer.dir/

firework.iml
proguard-rules.pro

.idea/libraries/animated_vector_drawable_24_2_1.xml
.idea/libraries/appcompat_v7_24_2_1.xml
.idea/libraries/dd_plist_1_16.xml
.idea/libraries/espresso_core_2_2_2.xml
.idea/libraries/espresso_idling_resource_2_2_2.xml
.idea/libraries/exposed_instrumentation_api_publish_0_5.xml
.idea/libraries/hamcrest_integration_1_3.xml
.idea/libraries/hamcrest_library_1_3.xml
.idea/libraries/javawriter_2_1_1.xml
.idea/libraries/javax_annotation_api_1_2.xml
.idea/libraries/javax_inject_1.xml
.idea/libraries/jsr305_2_0_1.xml
.idea/libraries/rules_0_5.xml
.idea/libraries/runner_0_5.xml
.idea/libraries/support_annotations_24_2_1.xml
.idea/libraries/support_annotations_25_3_1.xml
.idea/libraries/support_compat_24_2_1.xml
.idea/libraries/support_compat_25_3_1.xml
.idea/libraries/support_core_ui_24_2_1.xml
.idea/libraries/support_core_ui_25_3_1.xml
.idea/libraries/support_core_utils_24_2_1.xml
.idea/libraries/support_core_utils_25_3_1.xml
.idea/libraries/support_fragment_24_2_1.xml
.idea/libraries/support_fragment_25_3_1.xml
.idea/libraries/support_media_compat_24_2_1.xml
.idea/libraries/support_media_compat_25_3_1.xml
.idea/libraries/support_v4_24_2_1.xml
.idea/libraries/support_v4_25_3_1.xml
.idea/libraries/support_vector_drawable_24_2_1.xml

libwlplayer/.externalNativeBuild/cmake/debug/x86/.ninja_deps
libwlplayer/.externalNativeBuild/cmake/debug/x86/.ninja_log
Breakout-Android-Game.iml
app.iml

PlayVideo-OpenGL.iml

.idea/libraries/animated_vector_drawable_23_2_0.xml
.idea/libraries/animated_vector_drawable_25_4_0.xml
.idea/libraries/appcompat_v7_23_2_0.xml
.idea/libraries/appcompat_v7_25_4_0.xml
.idea/libraries/support_annotations_23_2_0.xml
.idea/libraries/support_v4_23_2_0.xml
.idea/libraries/support_vector_drawable_23_2_0.xml
.idea/libraries/support_vector_drawable_25_4_0.xml



.idea/libraries/annotations_4_0_0.xml
.idea/libraries/disklrucache_4_0_0.xml
.idea/libraries/eventbus_3_0_0.xml
.idea/libraries/gifdecoder_4_0_0.xml
.idea/libraries/glide_4_0_0.xml
.idea/libraries/glide_transformations_3_0_1.xml
.idea/libraries/gpuimage_library_1_4_1.xml
.idea/libraries/libmusic_1_1_1.xml
